.grid-container {
    display: grid;
    grid-template-rows: 200px 500px 1fr;
    grid-template-columns: 15% 1fr 15%;
}



.cell-5 {
text-align: center;
}

.cell-3 {
    text-align: left;
}

.search-bar {
    width: 50%;
    margin-bottom: 30px;
}

.search-button {
    margin: 0 20px;
}

.logo {
    margin-bottom: 20px;
}

.cell-7, .cell-8, .cell-9 {
    background-color: lightgray;
}

* {
    font-family: 'Lato', sans-serif;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}